img {
    max-width: 100%;
}


#brand_brand {

    //active 상태 관리
    .inner_box {
        .brand_tab_list {
            li.active {
                transition: 0.5s;

                .txt_box {
                    background-color: rgba(1, 8, 88, 0.699);

                    p {
                        display: block;
                    }
                }

                .img_box {}
            }
        }
    }


    //no-active

    .inner_box {
        .brand_tab_list {

            li {
                height: 100%;

                .txt_box {
                    padding: 1rem;
                    z-index: 10;
                    height: 100%;
                    border-left: 1px solid #fff;


                    h3 {
                        color: #fff;
                        font-weight: 400;
                        z-index: 10;
                    }


                    p {
                        display: none;
                        color: #fff;
                    }
                }

                .img_box {
                    z-index: 1;
                    left: 0;
                    top: 0;


                    &::after {
                        content: '';
                        z-index: 10;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }

            }

        }
    }



}