 #ft {
     background-color: #2625A1;
     //  z-index: 100;
     //  bottom: 0;
     //  width: 100%;

     .container {
         padding: 1rem 0;

         h2 {
             height: 100%;

             a {
                 display: block;
                 max-width: 131px !important;
                 width: 30vw;
             }
         }

         p {
             color: #fff;
             font-size: 0.8rem;
             line-height: 1.4rem;
             font-weight: 300;
         }

         .icon_list {
             color: #fff;
             display: inline-block;
             font-size: 2rem;
             margin-left: 1rem;
         }
     }


 }


 @media (max-width: 992px) {
     #ft {
         background-color: #2625A1;
         //  z-index: 100;
         //  bottom: 0;
         //  width: 100%;

         .container {
             padding: 1rem 0;

             h2 {
                 height: auto;
             }

             .icon_list {
                 color: #fff;
                 display: inline-block;
                 font-size: 1rem;
                 margin-left: 1rem;
             }
         }
     }
 }