// header common
#hd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .container {
        background-color: #2625A1;

        a {
            color: #fff;
            font-weight: 400;
        }
    }

    h1 {
        height: 100%;

        a {
            display: block;
            max-width: 131px !important;
            width: 30vw;
        }
    }
}

//header gnb
#hd {
    #gnb {
        >li {
            a {
                box-sizing: border-box;
                padding: 1.5rem 0.8rem;
            }
        }

        li {
            a {
                display: block;

                min-width: 120px;

            }
        }

        li:nth-of-type(1),
        li:nth-of-type(2) {
            a {
                width: 150px;
            }
        }
    }
}

//header active
#hd.active {
    .container {
        background-color: #fff;
    }

    #gnb {
        >li {
            a {
                color: #2625A1;
            }

            >a {
                &::before {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: #2625A1;
                    transition: 0.5s;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }

        // gnb hover
        li {
            &:hover {
                .ul2d {
                    max-height: 300px;
                }
            }

            .ul2d {
                overflow: hidden;
                max-height: 0;
                top: calc(100% + 1px);
                background-color: #fff;
                box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.05);
                transition: 0.8s;

                li {
                    a {
                        color: #2625A1;
                        transition: 0.3s;

                        &:hover {
                            background-color: #2625A1;
                            color: #fff;
                        }
                    }
                }
            }
        }

        // ul2d 
        li.down {
            >a {
                &::after {
                    font-family: 'bootstrap-icons';
                    content: ' \F282';
                    font-size: 0.8rem;
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                &:hover {
                    &::after {
                        font-family: 'bootstrap-icons';
                        content: ' \F286';
                    }
                }
            }
        }

    }
}

//header gnb tab
#hd.active {
    #gnb_tab {
        .tab_btn {
            &::after {
                color: #2625A1;
            }
        }
    }
}

#hd {
    #gnb_tab {
        .tab_btn {
            &::after {
                font-family: 'bootstrap-icons';
                content: '\F44B';
                font-size: 2rem;
                color: #fff;
            }
        }
    }
}