#menu {

    padding: 2rem 0;


    @media (max-width: 767.98px) {
        .kal_box {
            display: inline-block !important;
        }

        .box {
            li {


                a {}
            }
        }
    }


    @media(min-width: 767.98px) {

        .kal_list {
            .box {

                >li {

                    &:hover {
                        background-color: #F5F5F7;

                        .kal_box {
                            display: block;
                        }

                        .menu_box {
                            display: none;
                        }

                        a {
                            background-color: #2625A1;
                            color: #fff;
                        }

                    }
                }
            }
        }
    }

    h3 {
        font-size: 2.5rem;
        color: #2625A1;
        padding: 2rem;
        text-align: center;
        font-weight: 400;
    }

    .top_box {
        ul {
            li {
                &:not(.only) {}

                a {
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
        }


        img {

            max-width: 100%;
        }
    }

    .bg_box {
        overflow: hidden;

        img {
            width: 100vw;

            display: none;

            &.active {
                display: block;
            }
        }
    }

    .subject_list {
        padding: 2rem;
        font-size: 1.2rem;
        overflow: hidden;
    }

    .kal_list {
        text-align: center;

        li.active {
            display: block;

            .box {
                .menu_box {
                    img {
                        display: block !important;
                    }
                }

                a {
                    display: block !important;
                }
            }
        }

        &>li {
            padding: 0 1rem;
            display: none;
        }

        .box {
            top: 0;

            >li {
                padding: 1rem;
                margin: 1rem 0;
                box-sizing: border-box;

                &+li {
                    margin-left: 1rem;
                }

                a {
                    display: none !important;
                    line-height: 2rem;
                    width: 100%;
                    background-color: #F5F5F7;
                    color: #2625A1;
                    left: 0;
                    top: 100%;
                    font-weight: 400;
                }


                .kal_box {
                    display: none;

                    transition: 0.5s;

                    li {
                        position: relative;
                        line-height: 2rem;

                        &::after {
                            position: absolute;
                            bottom: 0;
                            content: '';
                            left: 0;
                            width: 100%;
                            display: inline-block;
                            border-bottom: 0.5px solid #2625A1;
                        }

                        span {
                            font-weight: 400;
                        }
                    }
                }


                .menu_box {
                    img {
                        display: none;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}