.section_store {
    padding: 3rem 0;

    h2 {
        color: #2625A1;
        font-weight: 400;
        font-size: 2rem;
        padding: 3rem 0;
    }

    .ani_box {
        padding: 2rem 0;


        .ani_h {
            // animation: bigsmall 15s;
            font-size: 2rem;
            font-weight: 600;
            color: #2625A1;

            &::before {
                animation: animate 3s;
                animation-iteration-count: infinite;
                content: '120호점 돌파';
                white-space: nowrap;
                position: absolute;
                top: 50%;
                right: 0;
            }
        }

        .ani_p {
            color: #2625A1;
            font-weight: 300;
        }
    }

    .np_box {}

    .store_search {
        height: 50vw;
        box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
        border-radius: 1rem 1rem 0 0;


        .search_title {
            background-color: #2F2EA5;
            box-sizing: border-box;
            border-radius: 1rem 1rem 0 0;
            padding: 1.5rem 2rem;


            h3 {
                color: #fff;
            }

            .search_box {
                width: 100%;

                input {
                    width: 100%;
                    border: transparent;
                    padding: 0.5rem;
                }
            }

            .search_btn {
                left: 100%;

                &::after {
                    right: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    color: #000;
                    font-family: 'bootstrap-icons';
                    content: '\F52A';
                }
            }

        }

        .np_btn {
            background-color: #F5F5F7;
            padding: 0 0.5rem;

            .prev,
            .next {
                width: 2rem;
                height: 2rem;
            }

            .prev::after {
                color: #626263;
                font-family: 'bootstrap-icons';
                content: '\F284';
            }



            .next::after {
                color: #626263;
                font-family: 'bootstrap-icons';
                content: '\F285';
            }


        }

        .store_pic {

            >li {


                &>a {

                    background-color: red;
                    top: 0;
                }
            }

        }
    }

    .img_box {
        background-color: #F5F5F7;
        height: 7rem;
        width: 7rem;
        border-radius: 100%;

        img {
            max-width: 100%;
        }
    }

    .wrapper {
        height: 100%;
    }

    .myswiper {
        width: calc(100% - 4rem);
        overflow: hidden;

        .myswiperlist {

            padding: 1rem 1rem;
            margin: 0 1rem;

            a {
                white-space: nowrap;

                &.active {
                    color: #2F2EA5 !important;
                    font-weight: 500;

                }
            }


        }
    }


    //lopf slide
    .store_loof {
        background-color: #302ea5b4;
        padding: 2rem;

        ul {
            animation: slidemove 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: forwards;

            li {
                margin-right: 3rem;
                font-size: 1.5rem;
                color: #fff;
                white-space: nowrap;
            }
        }

    }

    .store_nm {
        color: #2625A1;
        font-weight: 600;
        font-size: 1.2rem;
    }


    #__react-kakao-maps-sdk___Map {



        div {

            border-color: transparent !important;
            width: 150px;
            border-radius: 10px;
            text-align: center !important;
            box-sizing: border-box;

            div.pin {
                position: relative;
                border: 2px solid #2625A1 !important;
                border-radius: 10px;
                padding: 2.5px;
                padding: 10px;
                color: #2625A1;
                font-weight: 500;
                font-size: 0.6rem;


                span {
                    font-size: 1rem;
                    color: #2625A1;
                    font-weight: 500;
                }
            }
        }



    }


}

@keyframes slidemove {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}